[Unit]
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
StartLimitInterval=3600
StartLimitBurst=5
User=websiterunner
Group=websiterunner
WorkingDirectory=/var/www/website/hidens-website
ExecStart=/usr/bin/python3 runserver.py > log2.txt

[Install]
WantedBy=multi-user.target
