body {
  background-image: url("images/cloudbg.jpg");
  background-size: cover;
  text-align: center;
}

table, tr, th, td {
  text-align: center;
}

a:link {
 font-weight: bold;
 text-decoration: underline;
 color: #0000FF;
 }
 
a:visited {
 font-weight: bold;
 text-decoration: underline;
 color: #800080;
 }
 
a:hover {
 font-weight: bold;
 text-decoration: underline;
 color: #00FFFF;
 }
 
a:active {
 font-weight: bold;
 text-decoration: underline;
 color: #00008b;
 }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
