<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- block meta -%}{%- endblock -%}

    {%- block head_end -%}{%- endblock -%}
    <link rel="stylesheet" href="/static/style/base.css"/>
    <link rel="icon" href="/static/favicon.ico"/>

    <title>
    {% if title %}{{ title }} | {% endif %}HIDEN's personal website
    </title>

</head>

<body>
    {% block content %}{% endblock %}


<footer>
<img src="static/footer/browser.gif" alt="This site is designed for any OS, any browser.">
	
<a href="https://www.koolaid.com/">
    <img src="static/footer/koolaid.gif" alt="Koolaid">
</a>

<img src="static/footer/nukeieani.gif" alt="Nuke IE Now!">

<a href="https://notepad-plus-plus.org/">
    <img src="static/footer/notepadpp2.gif" alt="Created with Notepad++">
</a>

<a href="https://www.pepsi.com/">
    <img src="static/footer/pepsi.gif" alt="Pepsi">
</a>

<a href="https://www.minecraft.net">
    <img src="static/footer/minecraft.gif" alt="Minecraft">
</a>

<a href="https://linuxmint.com/"> 
    <img src="static/footer/linux_mint.gif" alt="Linux Mint, an easy to use, friendly desktop Linux distribution.">
</a>

<a href="http://ftp.vim.org/pub/ftp/netscape/netscape7/english/7.2/windows/win32/sea/NSSetup-Full.exe">
    <img src="static/footer/netscape.gif" alt="Get Netscape 7. Retroize yourself.">
</a>

<img src="static/footer/hatems.jpg" alt="I hate Microsoft.">

<a href="http://kmeleonbrowser.org/">
    <img src="static/footer/kmeleon.gif" alt="Get K-Meleon, a free and open source, fast and reliable web browser.">
</a>

<a href="https://ubuntu.com/">
    <img src="static/footer/poweredbyubuntu.png" alt="Powered by Ubuntu.">
</a>

<img src="static/footer/linuxnow.gif" alt="Linux now!">

<a href="https://steampowered.com">
    <img src="static/footer/steam.gif" alt="Play all of your PC games on Steam.">
</a>

<a href="https://www.mozilla.org/en-US/firefox/new/">
    <img src="static/footer/firefox.gif" alt="Take back the web with Mozilla Firefox.">
</a>

<a href="https://www.w3schools.com/html/">
    <img src="static/footer/html_learn_it_today.gif" alt="Learn HTML today!">
</a>

<a href="http://kicq.ru">
    <img src="static/footer/kicq-now.gif" alt="KICQ is a revival service for old-school ICQ.">    
</a>

<img src="static/footer/win10no.gif" alt="Windows 10 NO!">

<a href="http://toastytech.com/evil/">
    <img src="static/footer/ieisevil.gif" alt="Internet Explorer is EVILLL!!!!!!!">
</a>

<a href="https://ebay.com">
    <img src="static/footer/ebay.gif" alt="Shop for the things you want with eBay.">
</a>

<a href="https://www.escargot.chat/download/msn/extras/">
    <img src="static/footer/getmsgplus.gif" alt="Enrich your MSN Messenger experience with Messenger Plus!">    
</a>

<a href="https://www.win-rar.com/">
    <img src="static/footer/winrar.jpg" alt="Get WinRar.">    
</a>

<img src="static/footer/bestview.gif" alt="Best viewed with... open eyes.">

<a href="https://bit.ly/33hONWt">
    <img src="static/footer/noclick.gif" alt="Don't click this link.">
</a>

<a href="https://www.python.org">
    <img src="static/footer/python.png" alt="Powered by Python.">
</a>

<img src="static/footer/aol-members-choice.gif" alt="AOL members choice.">

<a href="https://winworldpc.com">
    <img src="static/footer/winworld.gif" alt="If you love abandonware, WinWorld will be your favorite website.">
</a>

<img src="static/footer/apple-windows.gif" alt="macOS >>>>>>>> Windows">

<a href="https://neocities.org">
    <img src="static/footer/neocities.gif" alt="NeoCities, the web is yours.">
</a>

</footer>	

</body>