<!DOCTYPE html>

<html lang=en>

<head>
    {%- block meta -%}
    <meta http-equiv=Content-Type content=text/html; charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock -%}

    {%- block head_end -%}
    <link rel=stylesheet href=/././static/style/style.css/>
    <link rel=icon href=/././static/favicon.ico/>
    {%- endblock -%}

    <title>
    {% if title %}{{ title }} | {% endif %}HIDEN's personal website
    </title>

</head>

<div class=sidenav>
    <p class=sidebartxt><i>HIDEN's website</i></p>
    <a href=/>Home</a>
    <a href=/about>About</a>
    <a href=/computers>Computers</a>
    <a href=/news>News</a>
    <a href=/downloads>Downloads</a>
    <a href=/links>Favorite sites</a>
    <a href=/mcsrv>Minecraft server</a>
    <a href=http://hiden64.ddns.net:3001/status>Server status</a>
    <a href=https://discord.com/invite/zH9kMEzEYM>Discord server</a>
</div>

<body>
<div class=main>
    {% block content %}

    {% endblock %}
</div>


</body>