<!DOCTYPE html>

<html lang=en>

<head>
    <meta http-equiv=Content-Type content=text/html; charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- block meta -%}{%- endblock -%}

    {%- block head_end -%}{%- endblock -%}
    <link rel=stylesheet href=/././static/style/base.css/>
    <link rel=icon href=/././static/favicon.ico/>

    <title>
    {% if title %}{{ title }} | {% endif %}HIDEN's personal website
    </title>

</head>

<br><br><br>
<div class="alert alert-danger">
    This site has moved domains to <a href=http://hiden64.ddns.net>hiden64.ddns.net</a>. <strong>Please update your links, the previous domain will stop functioning on <u>March 31st, 2022.</u></strong>
</div>


<body>

    {% block content %}

    {% endblock %}
    
<!-- spaget, thanks weird resolutions -->
<br><br><br><br><br><br><br><br><br><br>

{%- extends 'footer.html' -%}

</body>