{%- extends 'base.html' -%}

{%- block meta -%}
	<meta name=description content="My guestbook.">
{%- endblock -%}

{%- block sidebar -%}
	<a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-32120-c5">Old Guestbook</a>
{%- endblock -%}

{%- block content -%}

<img src=/static/title-art/guestbook.gif alt="Guestbook"><br><br>

<form method="post" action="/guestbook/submit">
	<label for="name">Name:*</label>
	<input type="text" id="name" name="name" required>

	<label for="email">Email:*</label>
	<input type="email" id="email" name="email" required>

	<label for="location">Location:</label>
	<input type="text" id="location" name="location">

	<label for="website">Website:</label>
	<input type="url" id="website" name="website">

	<label for="message">Message:*</label>
	<textarea id="message" name="message" rows="5" required></textarea>

	<p class=smalltxt>*This field is required.</p>

	<button class=submissionbutton type="submit">Submit</button>
</form>

<br><br>

<h2>Entries:</h2>
<p class=highsmalltxt><em>NOTE: Dates are in CST/CDT</em></p>
{% if entries %}
	<ul>
	{% for entry in entries %}
		<li>Name: {{ entry.name }}</li>
		<li>Email: {{ entry.email }}</li>
		<li>Date: {{ entry.date }}</li>
		<li>Location: {{ entry.location }}</li>
		<li>Website: <a href={{ entry.website }}>{{ entry.website }}</a></li>
		<li>Message: {{ entry.message }}</li>
		<br><br><br><br>
	{% endfor %}
	</ul>
{% else %}
	<p>No entries yet.</p>
{% endif %}
{%- endblock -%}

