body {
  background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),  url("/static/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-size: 35px;
  font-family: Verdana;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-family: Verdana;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-family: Verdana;
  font-weight: bold;
}

h4 {
  font-size: 19px;
  font-family: Verdana;
  font-weight: bold;
}

li {
  font-size: 16.5px;
  font-weight: bold;  
  font-family: Verdana;
}
	
p {
  font-size: 16.5px;
  font-weight: bold;
  font-family: Verdana;
}

table, tr, th, td {
  border: 1px solid darkslategrey;
}

ul {
  display: inline-block;
}

a {
  font-size: 16.5px;
  font-weight: bold;  
  font-family: Verdana;
  text-decoration: none;
}

img {
  filter: drop-shadow(4.5px 4.5px 4.5px #666666);
}

a:link {
 font-weight: bold;
 text-decoration: none;
 color: #0000FF;
}
 
a:visited {
 font-weight: bold;
 text-decoration: none;
 color: #7305bd;
}
 
a:hover {
 font-weight: bold;
 text-decoration: none;
 color: #0059ff;
}
 
a:active {
 font-weight: bold;
 text-decoration: none;
 color: #0b0ba8;
}

footer {
  margin-top: 5px;
  box-shadow: 0 0 1.7rem 0 rgba(0, 0, 0, .5); 
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer:before {
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.hometable {
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.hometable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.projectstable {
  width: 658px; 
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.projectstable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.linkstable {
  width: 652.7px; 
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.linkstable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.softwaretable {
  width: 771px; 
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.softwaretable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.cursortable {
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.cursortable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.computerstable {
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border: 0;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.computerstable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.gamesrvtable {
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.gamesrvtable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.mcsrvtable {
  width: 660px;
  height: 420px;
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.mcsrvtable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.testtable {
  width: 48rem;
  box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.testtable:before {
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.siteimghome {
  width: 539px; 
  height: 103px;
}

.siteimglinks {
  width: 191px; 
  height: 100px;
}

.siteimg404 {
  width: 392px;
  height: 108px;
}

.siteimgdownloads {
  width: 367px;
  height: 87px;
}

.siteimgsoftware {
  width: 454.5px;
  height: 56.5px;
}

.siteimgcursors {
  width: 436.5px;
  height: 82px;
}

.link404 {
  font-size: 19px;
  font-weight: bold;  
  font-family: Verdana;
  text-decoration: none;  
}

.softwareicon {
  width: 64px;
  height: 64px;
}

.cursoricon {
  width: 32px;
  height: 32px;
}

.comptableheader {
  background-color: #003FFF;
}

.comptableheadertext {
  height: 18px;
  font-size: 13.5px;
  color: #FFFFFF
}

.comptablecontent {
  background-color: #E3FFA3;
}

.comptablecontenttext {
  font-size: 14px;
}

.aboutlist {
  font-size: 20px;
}

.newstime {
  font-size: 29.5px;
}

.newsentry {
  font-size: 16.70px;
}

.newsrssbutton {
  font-size: 14.5px;
}

.gamesrvrule {
  font-size: 18.5px;
}

.hackerman {
  width: 144px;
  height: 28px;
}

.linkdownloads {
  font-size: 21px;
}

.testpagechangelink {
  font-size: 22px;
}

.backbutton {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.backbutton {
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
