body {
  background-image: url("/static/cloudbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-size: 35px;
font-family: Verdana;
  font-weight: bold;
}

h2 {
  font-family: Verdana;
  font-weight: bold;
}

li {
  font-size: 17px;
  font-weight: bold;  
  font-family: Verdana;
}
	
p {
  font-size: 17px;
  font-weight: bold;  
  font-family: Verdana;
}

table, tr, th, td {
  text-align: center;
}

a {
  font-size: 17px;
  font-weight: bold;  
  font-family: Verdana;
  text-decoration: none;
}
  
a:link {
 font-weight: bold;
 text-decoration: none;
 color: #0000FF;
}
 
a:visited {
 font-weight: bold;
 text-decoration: none;
 color: #800080;
}
 
a:hover {
 font-weight: bold;
 text-decoration: none;
 color: #00FFFF;
}
 
a:active {
 font-weight: bold;
 text-decoration: none;
 color: #00008b;
}

footer {
  margin-top: 5px;
  width: 2.1rem;
  height: 3.8rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5); 
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 13.5px;
  clear: inline-start;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.indextable {
  width: 38rem;
  height: 32rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5); 
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.indextable:before {
  content: “ ”;
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.projectstable {
  width: 558px; 
  height: 86px;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5); 
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.projectstable:before {
  content: “ ”;
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.linkstable {
  width: 648px; 
  height: 311px;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5); 
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.linkstable:before {
  content: “ ”;
  background: inherit; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
  filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.newsbox {
  width: 74rem;
  height: 192.5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5); 
  border-radius: 10px;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: auto;
  background: inherit;
  overflow: hidden;
}

.newsbox:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.siteimg {
  filter: drop-shadow(5px 5px 5px #666666);
}

.siteimglinks {
  filter: drop-shadow(5px 5px 5px #666666);
  width: 191px; 
  height: 100px;
}

