body {
	background: url("/static/misc/bg.png");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left: 220px; 
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

li {
	font-size: 18.80px;
}
	
p {
	font-size: 18.80px;
}

.jserr {
	font-size: 18.80px;
}

table, tr, th, td {
	box-shadow: inset 0 0 0 2500px rgba(123, 178, 223, 0.212);
	border: 1.5px solid rgb(44, 43, 43);
}

td {
	padding: 3.75px;
}

ul {
	display: inline-block;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

img {
	filter: drop-shadow(5px 6.75px 5px #665e5ed8);
}

code {
	font-family: monospace;
	background-color: #5479df34;
	font-size: 85%;
	padding: 2.75px;
}

a {
	font-size: 18.80px;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #037ccc;
}
 
a:visited {
	text-decoration: none;
	color: #9224db;
}
 
a:hover {
	text-decoration: none;
	color: #3b6d9c;
}
 
a:active {
	text-decoration: none;
	color: #00268d;
}

footer {
	animation: 0.6s ease 0s 1 FooterUp;
	box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, .5); 
	z-index: 1;
	background: inherit;
	overflow: hidden;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer:before {
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(10px);
	margin: -20px;
}

footer img {
	transition-timing-function: ease;
	-webkit-transition-duration: 0.4s; /* WebKit/Blink workaround */
	-moz-transition-duration: 0.4s; /* Gecko workaround */
	-o-transition-duration: 0.4s; /* Presto workaround */
	transition-duration: 0.4s;
	width: 81px;
	height: 33px;
}

footer img:hover {
	transition-timing-function: ease;
	-webkit-transition-duration: 0.4s; /* WebKit/Blink workaround */
	-moz-transition-duration: 0.4s; /* Gecko workaround */
	-o-transition-duration: 0.4s; /* Presto workaround */
	transition-duration: 0.4s;
	height: 42.9px;
	width: 114.4px;
	margin: 5.5px 3px;
}

.sidebar {
	animation: 0.6s ease 0s 1 SidebarUp;
	height: 100%;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	background: inherit; 
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, .5); 
	z-index: 1;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 17.5px;
	display: block;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 12px;}
}

.sidebartxt {
	padding: 0.5px 16px;
	font-size: 19.5px;
}

.testlinks {
	font-size: 22px;
}

.testtable {
	width: 48rem;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.testtable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

@keyframes FooterUp {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes SidebarUp {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
