body {
	background: url("/static/misc/bg.png");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

li {
	font-size: 16.5px;
}
	
p {
	font-size: 16.5px;
}

.jserr {
	font-size: 16.5px;
}

table, tr, th, td {
	border: 1px solid darkslategrey;
}

ul {
	display: inline-block;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}


img {
	filter: drop-shadow(4.5px 4.5px 4.5px #666666);
}

code {
	font-family: monospace;
	background-color: #17389434;
	font-size: 85%;
	padding: 2.75px;
}

a {
	font-size: 16.5px;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #0000FF;
}
 
a:visited {
	text-decoration: none;
	color: #7305bd;
}
 
a:hover {
	text-decoration: none;
	color: #0059ff;
}
 
a:active {
	text-decoration: none;
	color: #0b0ba8;
}

footer {
	box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, .5); 
	z-index: 1;
	background: inherit;
	overflow: hidden;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer:before {
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}

footer img {
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.35s; /* WebKit/Blink workaround */
	-moz-transition-duration: 0.35s; /* Gecko workaround */
	-o-transition-duration: 0.35s; /* Presto workaround */
	transition-duration: 0.35s;
	width: 81px;
	height: 33px;
}

footer img:hover {
	transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.35s; /* WebKit/Blink workaround */
	-moz-transition-duration: 0.35s; /* Gecko workaround */
	-o-transition-duration: 0.35s; /* Presto workaround */
	transition-duration: 0.35s;
	height: 42.9px;
	width: 114.4px;
	margin: 4px 2px;
}

.hometable {
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.hometable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.projectstable {
	width: 658px; 
	box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.projectstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.placestable {
	width: 857px; 
	box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.placestable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.softwaretable {
	width: 771px; 
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.softwaretable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.cursortable {
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.cursortable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.computerstable {
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border: 0;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.computerstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.mcsrvtable {
	width: 660px;
	height: 420px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.mcsrvtable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.testtable {
	width: 48rem;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.testtable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.contactstable {
	width: 725px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.contactstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.abouttable {
	width: 800px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.abouttable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.psdetailstable {
	width: 687px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.psdetailstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.ra1detailstable {
	width: 671px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.ra1detailstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.hbdetailstable {
	width: 628px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.hbdetailstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.webdetailstable {
	width: 698px;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.webdetailstable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.webcompattable {
	width: 78rem;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	border: 0;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.webcompattable:before {
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.3);
	filter: blur(10px);
	margin-left: auto;
	margin-right: auto;
}

.webtitle {
	width: 215px;
	height: 130px;
}

.siteimghome {
	width: 568px; 
	height: 98px;
}

.siteimgplaces {
	width: 191px; 
	height: 71px;
}

.siteimgdownloads {
	width: 367px;
	height: 87px;
}

.siteimgsoftware {
	width: 454.5px;
	height: 56.5px;
}

.siteimgcursors {
	width: 436.5px;
	height: 82px;
}

.siteimgmc {
	width: 383px;
	height: 85.5px;
}

.link404 {
	font-size: 17.75px;
}

.softwareicon {
	width: 64px;
	height: 64px;
}

.cursoricon {
	width: 32px;
	height: 32px;
}

.comptableheader {
	background-color: #6286f39a;
}

.comptableheadertext {
	height: 18px;
	font-size: 13.5px;
	color: #FFFFFF
}

.comptablecontent {
	background-color: #bfca5b9c;
}

.comptablecontenttext {
	font-size: 14px;
}

.webcompattableheader {
	background-color: #251650a9;
}

.webcompattableheadertext {
	height: 26px;
	font-size: 14px;
	color: #FFFFFF;
}

.webtablecontent {
	background-color: #54106885;
}

.webtablecontenttext {
	font-size: 14.75px;
	color: #FFFFFF
}

.webtablecontenttext2 {
	font-size: 14.7px;
}

.fc {
	background-color: #54b347;
}

.fcb {
	background-color: #eac000;
}

.fcmb {
	background-color: #ea7900;
}

.fcbb {
	background-color: #a1e7bf;
}

.brk {
	background-color: #ea2600;
}

.aboutlist {
	font-size: 20px;
}

.bpdate {
	font-size: 32px;
}

.blogpost {
	font-size: 15.75px;
}

.blogrss {
	font-size: 14.25px;
}

.mcrule {
	font-size: 18.5px;
	padding: 2px;
}

.linkdownloads {
	font-size: 21px;
}

.testlinks {
	font-size: 22px;
}

.plugintxt {
	font-size: 18.75px;
	padding: 2px;
}

.pluginhed {
	font-size: 27.5px;
}

.siteimgabout {
	width: 250px;
	height: 67px;
}

.siteimgcontacts {
	width: 327px;
	height: 92px;
}

.twticon {
	height: 52px;
	width: 64px;
}

.discicon {
	height: 64px;
	width: 58px;
}

.yticon {
	height: 48px;
	width: 69px;
}

.vpcicon {
	height: 76.5px;
	width: 76.5px;
}

.blogimg {
	height: 500px;
	width: 750px;
}

.psss {
	width: 815px;
	height: 615px;
}

.ra1ss1 {
	width: 515px;
	height: 532px;
}

.ra1ss2 {
	width: 295px;
	height: 135px;
}

.ra1ss3 {
	width: 270px;
	height: 135px;
}

.disc {
	font-size: 11.5px;
}

.webtxt {
	font-size: 14px;
}

.webtxt2 {
	font-size: 12.5px;
}

str {
	font-size: 16.70px;
	text-decoration: line-through;
}

.osicon {
	width: 48px;
	height: 48px;
}

.stuffbox {
	margin-top: -595px; /* very hacky but it works */
	margin-left: 23px;
	float: left;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	width: 250px;
}

.stuffboxhead {
	background-color: #93b9629f;
}

.stuffboxheadtxt {
	font-size: 12px;
}

.stuffboxcontenttxt {
	font-size: 13.25px;
}

.stuffboxcontent {
	background-color: rgba(175, 173, 20, 0.384);
}

.hitscounter {
	margin-top: -155px;
	margin-right: 37px;
	float: right;
	border: 0;
}

.hitcounternotice {
	font-size: 9px;
}

.factbox {
	margin-top: -143px;
	margin-left: 45px;
	float: left;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	width: 240px;
}

.factboxhead {
	background-color: #750ba775;
}

.factboxheadtxt {
	font-size: 12px;
	color: white;
}

.factboxcontenttxt {
	font-size: 13.25px;
	color: white;
}

.factboxcontent {
	background-color: rgba(58, 33, 78, 0.719);
}

.jargonbox {
	margin-top: -535px;
	margin-right: 35px;
	float: right;
	box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, .5); 
	width: 240px;
}

.jargonhead {
	background-color: #1863c5a4;
}

.jargonheadimg {
	width: 173.5px;
	height: 35px;
}

.jargoncontenttxt {
	font-size: 13.5px;
	color: black;
}

.jargoncontent {
	background-color: rgba(15, 107, 247, 0.452);
}

.winamptxt {
	font-size: 26px;
}

.speakoniainstructlist {
	line-height: 155%;
}